{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><b>CONTINUATION OF TRANSCRIPT REQUEST</b></legend>
                <legend><h5>Transcript Recipient Details</h5></legend>
                <div class="form-group">
                    {{ form.recipient_name.label(class="form-control-label") }}:
                    {{ form.recipient_name(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.country.label(class="form-control-label") }}:
                    {{ form.country(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.address_line.label(class="form-control-label") }}:
                    {{ form.address_line(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.shipping_continent.label(class="form-control-label") }}:
                    {{ form.shipping_continent(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.city.label(class="form-control-label") }}:
                    {{ form.city(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.courier.label(class="form-control-label") }}:
                    {{ form.courier(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.zip_code.label(class="form-control-label") }}:
                    {{ form.zip_code(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.agree.label(class="form-control-label") }}:
                    {{ form.agree(class="form-control form-control-sm") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}