{% extends "layout.html" %}
{% block content %}
      <div class="content-section">
            <form method="POST" action="">
                  {{ form.hidden_tag() }}
                  <fieldset class="form-group">
                        <legend class="border-bottom mb-4"><b>TRANSCRIPT REQUEST</b></legend>
                        <legend><h5>Post Graduate Transcript Application</h5></legend>
                        <div class="form-group">
                              {{ form.surname.label(class="form-control-label") }}:
                              {{ form.surname(class="form-control form-control-sm") }}
                        </div>
                        <div class="form-group">
                              {{ form.first_name.label(class="form-control-label") }}:
                              {{ form.first_name(class="form-control form-control-sm") }}
                        </div>
                        <div class="form-group">
                              {{ form.marital_status.label(class="form-control-label") }}:
                              {{ form.marital_status(class="form-control form-control-sm") }}
                        </div>
                        <div class="form-group">
                              {{ form.matric_no.label(class="form-control-label") }}:
                              {{ form.matric_no(class="form-control form-control-sm") }}
                        </div>
                        <div class="form-group">
                              {{ form.email.label(class="form-control-label") }}:
                              {{ form.email(class="form-control form-control-sm") }}
                        </div>
                        <div class="form-group">
                              {{ form.phone.label(class="form-control-label") }}:
                              {{ form.phone(class="form-control form-control-sm") }}
                        </div>
                        <div class="form-group">
                              {{ form.faculty.label(class="form-control-label") }}:
                              {{ form.faculty(class="form-control form-control-sm") }}
                        </div>
                        <div class="form-group">
                              {{ form.department.label(class="form-control-label") }}:
                              {{ form.department(class="form-control form-control-sm") }}
                        </div>
                        <div class="form-group">
                              {{ form.year_of_grad.label(class="form-control-label") }}:
                              {{ form.year_of_grad(class="form-control form-control-sm") }}
                        </div>
                        <div class="form-group">
                              {{ form.permanent_addr.label(class="form-control-label") }}:
                              {{ form.permanent_addr(class="form-control form-control-sm") }}
                        </div>
                  </fieldset>
                  <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                  </div>
            </form>
      </div>
 {% endblock content %}
 {% block sidebar %}
    <div class="content-section">
        <h3>Our Sidebar</h3>
        <p class='text-muted'>You can put any information here you'd like.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
          </ul>
        </p>
    </div>
{% endblock %}